<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify Email</title>
    <style>
      body { font-family: Arial, sans-serif; margin: 0; padding: 0; } .container
      { max-width: 600px; margin: 20px auto; padding: 20px; border: 1px solid
      #ccc; border-radius: 5px; } .header { background-color: #f4f4f4; padding:
      10px; text-align: center; border-radius: 5px; } .content { margin-top:
      20px; text-align: center; } .otp-link { display: inline-block;
      background-color: #007bff; padding: 10px 20px; color: #fff; font-size:
      20px; font-weight: bold; border-radius: 5px; letter-spacing: 2px; text-decoration: none;}
      .footer { margin-top: 20px; font-size: 14px; color: #666; text-align:
      center; }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <h2>Vefiry Your Email</h2>
      </div>
      <div class="content">
        <p>Hello {{userName}},</p>
        <p>
          Click on the link below to verify your email. This
          link is valid for the next {{expireTime}} minutes:
        </p>
        <a href=`{{otpLink}}` class="otp-link" style="color: #ffffff">Verify Email</a>
        <p>If you didn't request this, please ignore this email.</p>
      </div>
      <div class="footer">
        <p>Thank you for using our service!</p>
      </div>
    </div>
  </body>

</html>